
.productosHomeContain{
    padding: 10px 3%;
}


#swiperCardScroll{
    width: 16rem;
    margin: 10px 20px 30px 10px;
}
.cardScroll{
    width: 16rem;
    height: 17rem;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.127);
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.cardcardScrollText h3{
    color: var(--text-color);
    font-size: 16px;
}
.cardScroll p{
    color: var(--text-color2);
    font-size: 14px;
}
.cardScroll h4{
    color: var(--color1);
    font-size: 14px;
}
.cardScroll img{
    width: 100%;
    height: 10rem;
    object-fit: cover;
}

@media (max-width: 920px){
    .cardScroll{
        height: 12rem;
        width: 10rem;
        gap: 5px;
        
    }
    .cardScroll img{
        height: 7rem;
    }
    #swiperCardScroll{
        height: 12rem;
        width: 10rem;
        padding-left: 2%;
        margin: 7px;
    }
    .productosHomeContain{
        padding:  0;
    }
}
