.foter{
    height: 100%;
    margin-top: 4rem;
    background-color: var(--gris);
    /* background-image: url(../../images/banner1.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px 20px 0 0;
}


.foter img{
    width: 130px;
    object-fit: cover;
}


.contact-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    gap: 5rem;
    border: none;
    margin: 10px 3%;
   
    padding: 50px 20px;
    border-radius: 20px;
   
}
.deColumnsText{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 10px;
    text-align: left;
    width: 30vh;
}
.contact-footer h3{
    color: var(--color1);
   
}
.contact-footer p{
    color: var(--blanco);
}
.contact-footer a{
    color: var(--text-color2);
}
.Copyright{
    
    width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px 0px;
}
.Copyright p{
    color: var(--text-color2);
    text-align: center;
}

.redes-sociales {
    display: flex;
    gap: 1rem;
}
.redes-sociales  a{

  color: var(--text-color2);
  padding: 10px;
 
}

.redes-sociales  a:hover{
  
    color: var(--color1);
}

@media (max-width: 760px) {
    .fondo-footer{
       
        height: 70%;

    }
    .foter{
        padding: 0;
    }
    .Copyright{
        flex-direction: column;
        text-align: center;
    }
    .contact-footer{
        margin: 0;
        gap: 3rem;
      
       
}
}